<%
#
#  Meeting Web - frontend to meeting, elearning & conference system
#
%>

<div class="modal fade" id="deleteRecordingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title">
            <h3><%= t("modal.delete_rec.header") %></h3>
          </div>

          <button type="button" class="btn btn-info my-1 btn-del-room" data-dismiss="modal">
            <%= t("modal.delete_room.keep") %>
          </button>

          <%= button_to "/", method: :delete, id: "delete-rec-confirm", class: "btn btn-danger my-1 btn-del-room", "data-disable": "" do %>
            <%= t("modal.delete_rec.delete") %>
          <% end %>

        </div>
        <div class="card-footer">
          <p id="delete-footer">
            <%= t("modal.delete_rec.warning").html_safe %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
