<%
#
#  Meeting Web - frontend to meeting, elearning & conference system
#
%>

<div class="form-group mt-n3">
  <nav class="row m-0">
    <div class="nav col nav-tabs admin-tabs m-0 p-0" >
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'appearance' %>" href="?tab=appearance" role="tab" aria-selected="true">
        <i class="fas mr-3 fa-palette"></i>
        <%= t("administrator.site_settings.tabs.appearance") %>
      </a>
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'administration' %>" href="?tab=administration" role="tab" aria-selected="false">
        <i class="fas mr-3 fa-toolbox"></i>
        <%= t("administrator.site_settings.tabs.administration") %>
      </a>
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'settings' %>"  href="?tab=settings" role="tab" aria-selected="false">
       <i class="fas mr-3 fa-tools"></i>
        <%= t("administrator.site_settings.tabs.settings") %>
      </a>
    </div>
  </nav>
</div>

<% if @tab == "appearance"%>
  <%= render "admins/components/site_settings/appearance" %>
<% elsif @tab == "administration"%>
  <%= render "admins/components/site_settings/administration" %>
<% else %>
  <%= render "admins/components/site_settings/settings" %>
<% end %>
   
